---
version: "3.2"
services:
  sabnzbd:
    image: ghcr.io/linuxserver/sabnzbd:{{ usenet_sabnzbd_version }}
    container_name: sabnzbd
    environment:
      - PUID={{ usenet_user_id }}
      - PGID={{ usenet_group_id }}
      - TZ=Europe/London
      - UMASK_SET=022
    volumes:
      - {{ usenet_sabnzbd_config_volume_directory }}:/config
      - {{ usenet_sabnzbd_downloads_volume_directory }}:/downloads
      - {{ usenet_sabnzbd_incomplete_downloads_volume_directory }}:/incomplete-downloads
    ports:
      - {{ usenet_sabnzbd_network_interface }}:{{ usenet_sabnzbd_http_port }}:8080
      - {{ usenet_sabnzbd_network_interface }}:{{ usenet_sabnzbd_https_port }}:9090
    restart: unless-stopped

  sonarr:
    image: ghcr.io/linuxserver/sonarr:{{ usenet_sonarr_version }}
    container_name: sonarr
    environment:
      - PUID={{ usenet_user_id }}
      - PGID={{ usenet_group_id }}
      - TZ=Europe/London
      - UMASK_SET=022
    depends_on:
      - sabnzbd
    volumes:
      - {{ usenet_sonarr_config_volume_directory }}:/config
      - {{ usenet_sonarr_tv_volume_directory }}:/tv
      - {{ usenet_sonarr_downloads_volume_directory }}:/downloads
    ports:
      - {{ usenet_sonarr_network_interface }}:{{ usenet_sonarr_http_port }}:8989
    restart: unless-stopped

  radarr:
    image: ghcr.io/linuxserver/radarr:{{ usenet_radarr_version }}
    container_name: radarr
    environment:
      - PUID={{ usenet_user_id }}
      - PGID={{ usenet_group_id }}
      - TZ=Europe/London
      - UMASK_SET=022
    volumes:
      - {{ usenet_radarr_config_volume_directory }}:/config
      - {{ usenet_radarr_movies_volume_directory }}:/movies
      - {{ usenet_radarr_downloads_volume_directory }}:/downloads
    ports:
      - {{ usenet_radarr_network_interface }}:{{ usenet_radarr_http_port }}:7878
    restart: unless-stopped

  bazarr:
    image: ghcr.io/linuxserver/bazarr:{{ usenet_bazarr_version }}
    container_name: bazarr
    environment:
      - PUID={{ usenet_user_id }}
      - PGID={{ usenet_group_id }}
      - TZ=Europe/London
      - UMASK_SET=022
    volumes:
      - {{ usenet_bazarr_config_volume_directory }}:/config
      - {{ usenet_bazarr_movies_volume_directory }}:/movies
      - {{ usenet_bazarr_tv_volume_directory }}:/tv
    ports:
      - {{ usenet_bazarr_network_interface }}:{{ usenet_bazarr_http_port }}:6767
    restart: unless-stopped

  nzbhydra2:
    image: ghcr.io/linuxserver/nzbhydra2:{{ usenet_nzbhydra2_version }}
    container_name: nzbhydra2
    environment:
      - PUID={{ usenet_user_id }}
      - PGID={{ usenet_group_id }}
      - TZ=Europe/London
    volumes:
      - {{ usenet_nzbhydra2_config_volume_directory }}:/config
      - {{ usenet_nzbhydra2_downloads_volume_directory }}:/downloads
    ports:
      - {{ usenet_nzbhydra2_network_interface }}:{{ usenet_nzbhydra2_http_port }}:5076
    restart: unless-stopped
